/* Nav Bar */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 2% 0;
}

#navbar-container {
  padding: 0 3%;
}

/* Post Content */
#posts-container {
  padding-left: 0;
  padding-right: 0;
}

.post-item {
  background-color: #fff;
  border-bottom: solid 1px #ccc;
  padding-top: 1%;
  padding-bottom: 1%;
}

.post-content {
  color: #333;
  font-size: 13pt;
}

.author {
  color: #999;
}

.post-item:hover {
  background-color: #fafafa;
  border-color: transparent;
}

.trash:hover {
  color: #d9534f;
}