<!DOCTYPE html>
<html lang="en" ng-app="hackerNewsApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HN Feed</title>

  <!-- Libraries -->
  <script type="text/javascript" src="./bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="./bower_components/angular-resource/angular-resource.js"></script>
  <script type="text/javascript" src="./bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="./bower_components/moment/moment.js"></script>
  <script type="text/javascript" src="./bower_components/angular-moment/angular-moment.js"></script>

  <!-- Custom JS -->
  <script type="text/javascript" src="./js/app.js"></script>
  <script type="text/javascript" src="./js/resources/posts_factory.js"></script>
  <script type="text/javascript" src="./js/resources/data_factory.js"></script>
  <script type="text/javascript" src="./js/controllers/posts_controller.js"></script>

  <!-- Styling -->
  <link rel="stylesheet" type="text/css" href="./bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="./css/style.css">


</head>
<body>
  <nav class="navbar navbar-default">
    <div id="navbar-container" class="col-xs-12">
      <h1>HN Feed</h1>
      <h2>We <3 hacker news!</h2>
    </div>
  </nav>

  <section id="posts-container" class="container-fluid" ng-controller="PostsCtrl">
    <div class="sp-circle"></div>
    <div class="post-item col-xs-12"
        ng-repeat="post in posts | orderBy : 'created_at': true">
      <a class="post-content col-xs-11" target="_blank" ng-href="{{post.story_url}}">
        <div class="post-text col-xs-9">
          <span class="post-title">{{post.story_title}}</span>
          <span class="author"> - {{post.author}} - </span>
        </div>
        <span class="datetime col-xs-3" am-time-ago="post.created_at"></span>
      </a>
      <span class="trash glyphicon glyphicon-trash col-xs-1"
            ng-click="deletePost($index)"
            data-id="{{post.objectID}}"
            aria-hidden="true"></span>
    </div>
  </section>
</body>
</html>