$primary-color: #333;
$secondary-color: #fff;
$item-hover: #fafafa;
$trash-hover: #C62828;
$border-color: #ccc;
$author-color: #999;

// Posts Container
#posts-container{
  padding-left: 0;
  padding-right: 0;

  /* Spinner Circle Rotation */
  .sp-circle {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    margin: 50px;
    height: 28px;
    width: 28px;
    animation: rotate 0.6s infinite linear;
    border: 8px solid $border-color;
    border-right-color: transparent;
    border-radius: 50%; }

  @keyframes rotate {
    0% {
      transform: rotate(0deg); }
    100% {
      transform: rotate(360deg); } }

  .post-item {
    // -webkit-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    // -moz-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    // -ms-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    // -o-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    // transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition-duration: 2s;
    transition-property: opacity, top, height;
    position: relative;
    background-color: $secondary-color;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 1px solid $border-color;
    &:hover {
      background-color: $item-hover;
    }

    .post-container {
      color: $primary-color;
      font-size: 13pt;
      text-decoration: none;

      .author {
        color: $author-color;
      }
    }

    .trash {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      &:hover {
        color: $trash-hover;
      }
    }

  }
  .post-item.ng-enter-active,
  .post-item.ng-leave {
    opacity: 1;
    // Don't understand why I press remove an item, the 2nd item doesn't move up as nganimate advertised....
    // height doesn't work also esp. when deleted item squeeze until certain height but not 0px,
    top: 0;
    height: 50px;
  }

  .post-item.ng-leave-active,
  .post-item.ng-enter {
    opacity: 0;
    top: -50px;
    height: 0px;
  }

}